@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
/* ---------- RESET ---------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

/* ---------- VARIABLES ---------- */
:root {
  /* COLORS */
  /* PRIMARY */
  --color-primary: hsl(223, 87%, 63%);
  /* SECONDARY */
  --color-secondary-1: hsl(223, 100%, 88%);
  --color-secondary-2: hsl(354, 100%, 66%);
  /* NEUTRAL */
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-gray-1: hsl(0, 0%, 59%);
  --color-neutral-gray-2: hsl(209, 33%, 12%);
  /* TEXT */
  --text-heading-size-1: 5rem;
  --text-heading-size-2: 1.4rem;
  --text-para-size: 2rem;
  --text-sans-serif-font: "Libre Franklin", sans-serif;
  --text-weight-light: 300;
  --text-weight-semibold: 600;
  --text-weight-bold: 700;
}

/* ---------- BASE STYLES ---------- */
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: var(--text-sans-serif-font);
  font-weight: var(--text-weight-light);
  font-size: var(--text-para-size);
}

footer {
  position: absolute;
  bottom: 1%;
  left: 1%;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 1000px) {
  footer {
    display: none;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70rem;
  margin: 1rem;
}
@media (max-width: 600px) {
  .container {
    margin: 8rem 4rem 4rem 4rem;
  }
}

.logo {
  width: 8rem;
  margin-bottom: 4rem;
}

.title {
  font-size: var(--text-heading-size-1);
  font-weight: var(--text-weight-light);
  color: var(--color-neutral-gray-1);
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .title {
    font-size: clamp(3rem, 4vw + 1rem, var(--text-heading-size-1));
  }
}
.title span {
  font-weight: var(--text-weight-bold);
  color: var(--color-neutral-gray-2);
}

.subtitle {
  font-size: var(--text-para-size);
  margin-bottom: 4rem;
}

.input__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
@media (max-width: 600px) {
  .input__container {
    flex-direction: column;
    align-items: center;
  }
}
.input__email-container {
  width: 65%;
}
@media (max-width: 600px) {
  .input__email-container {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.input__email {
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 50px;
  border: 1px solid var(--color-neutral-gray-1);
}
.input__email:focus {
  outline: none;
  border-color: var(--color-primary);
}
.input__submit {
  width: 35%;
  letter-spacing: 0.5px;
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 50px;
  margin-left: 1rem;
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
  box-shadow: 5px 10px 20px hsla(223, 87%, 63%, 0.275);
  cursor: pointer;
  transition: background-color 0.2s;
}
@media (max-width: 600px) {
  .input__submit {
    width: 100%;
  }
}
.input__submit:hover {
  background-color: hsla(223, 87%, 63%, 0.85);
}

.error {
  font-size: 1.2rem;
  color: var(--color-secondary-2);
  align-self: start;
  padding: 1rem 0 0 3rem;
  font-style: italic;
}
@media (max-width: 600px) {
  .error {
    text-align: center;
    padding: 1rem 0 0 0rem;
  }
}

.dashboard {
  margin-top: 10rem;
  width: 100%;
  margin-bottom: 8rem;
}
@media (max-width: 600px) {
  .dashboard {
    margin-top: 5rem;
  }
}

.share__container {
  margin-bottom: 1rem;
}
.share__icon {
  margin: 0.75rem;
  color: var(--color-primary);
  border-radius: 50%;
  border: 1px solid hsla(223, 53%, 78%, 0.592);
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.share__icon:hover {
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-neutral-gray-1);
}

.invalid {
  border: 1px solid var(--color-secondary-2) !important;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
